{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBA Players</title>
    
</head>
<body>
    <h1>NBA Players and Statistics</h1>
    <nav>
        
        <a href="{% url 'player_list' %}">Players</a>
        <a href="{% url 'stat_list' %}">Stats</a>
        
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>
