{% extends 'nba_app/base.html' %}



{% block content %}
<h2>{{ player.name }} <a href="{% url 'player_edit' pk=player.pk %}">(edit)</a></h2>
<a href="{% url 'player_delete' pk=player.pk %}">Delete</a>
<h4>{{ player.player_position }}</h4>

<img src="{{ player.player_photo }}" alt="" class="player-photo">

<h3>Stats <a href="{% url 'stat_create' %}">(+)</a></h3>
<ul>
    {% for stat in player.stats.all %}
    <li>
        <a href="{% url 'stat_detail' pk=stat.pk %}">{{ stat.player_team }}-{{ stat.player_point }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}